@media (max-width: 1200px)
    .container
        max-width: 960px
@media ( max-width:  991px)
    .container
        max-width: 700px
    .header
        &-top
            padding: 30px 0
        &__search
            margin-left: auto            
    .logo
        width: 133px
    .navbar 
        padding: 22px 0  
        &-menu
            &__link
                f-size: 12px
                line-height: 15px
    .search
        &__input
             width: 340px
    .swiper-container
        width: 100%
        height: 450px
    .swiper-slide
        object-fit: cover
    .slider
        width: 700px

@media ( max-width:  767px)
    .container
        max-width: 560px
    .navbar
        display: none
    .header
        &__search, &__user
            display: none
    .logo
        width: 133px
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            cursor: pointer
            background-color: transparent
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            padding-bottom: 38px
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .swiper-container
        width: 100%
        height: 330px
    .swiper-slide
        object-fit: cover
    .slider
        width: 100%
        &__img
           width: 560px           
            
@media ( max-width:  576px)
    .container
        max-width: 460px
    .logo
        width: 99px
    .swiper-container
        width: 100%
        height: 285px
    .swiper-slide
        object-fit: cover
    .slider
        height: 100%
        &__img
           height: 285px          
        &-button            
            width: 10px
            height: 10px
            background-size: 7px

@media ( max-width:  480px)
    .container
        max-width: 320px
    .swiper-container
        width: 100%
        height: 198px
    .swiper-slide
        object-fit: cover
    .slider
        width: 100%
        &__img
           height: 198px  
        &-button
            background-size: 7px
                          

@media ( max-width:  360px)
    .container
        max-width: 278px
    .swiper-container
        width: 100%
        height: 172px
    .swiper-slide
        object-fit: cover
    .slider        
        width: 278px
        &__img
           height: 172px
        &-button
            width: 20px
            height: 20px
            background-size: 7px
