@media (max-width: 1200px)
    .container
        max-width: 960px
@media ( max-width:  991px)
    .container
        max-width: 700px
    .header
        &__search
            margin-left: auto
    .logo
        width: 133px
    .navbar 
        margin: 22px 0  
        &-menu
            &__link
                f-size: 12px
                line-height: 15px
@media ( max-width:  767px)
    .container
        max-width: 560px
     